.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.box___4HblN {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: NoNYWV_AIJRBV8 */;
}
.box__aUsv1 {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.box__aUsv1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.box__aUsv1 > :global(.__wab_flex-container) > *,
.box__aUsv1 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__aUsv1 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__aUsv1 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__aUsv1 > :global(.__wab_flex-container) > *,
  .box__aUsv1 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.box__jHzJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 128px;
  flex-shrink: 0;
}
.box__jHzJ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__jHzJ > :global(.__wab_flex-container) > *,
.box__jHzJ > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.iconLink__yBntX:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___4WE5B {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.box__httDy {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__mGbZ {
  color: #535353 /* plasmic-token: wYj_5gZwVsnxye */;
}
.root .link__mGbZ:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__iTmvs {
  position: relative;
}
.link__xKcpX {
  position: relative;
  color: #535353 /* plasmic-token: wYj_5gZwVsnxye */;
}
.root .link__xKcpX:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__maZMq {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__maZMq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.box__maZMq > :global(.__wab_flex-container) > *,
.box__maZMq > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__maZMq {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__maZMq > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__maZMq > :global(.__wab_flex-container) > *,
  .box__maZMq > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.box___1QkSx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.box___1QkSx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box___1QkSx > :global(.__wab_flex-container) > *,
.box___1QkSx > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box__x9PZs {
  position: relative;
  font-weight: 700;
}
.link__lmuC {
  position: relative;
  color: #535353 /* plasmic-token: wYj_5gZwVsnxye */;
}
.root .link__lmuC:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__xopS8 {
  position: relative;
  color: #535353 /* plasmic-token: wYj_5gZwVsnxye */;
}
.root .link__xopS8:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__cs0Pf {
  position: relative;
  color: #535353 /* plasmic-token: wYj_5gZwVsnxye */;
}
.root .link__cs0Pf:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__dlQfk {
  position: relative;
  color: #535353 /* plasmic-token: wYj_5gZwVsnxye */;
}
.root .link__dlQfk:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__p0SO {
  position: relative;
  color: #535353 /* plasmic-token: wYj_5gZwVsnxye */;
}
.root .link__p0SO:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__l0F3W {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.box__l0F3W > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__l0F3W > :global(.__wab_flex-container) > *,
.box__l0F3W > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box___9Ebq1 {
  position: relative;
  font-weight: 700;
}
.link__wp1H {
  position: relative;
  color: #535353 /* plasmic-token: wYj_5gZwVsnxye */;
}
.root .link__wp1H:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__y1ZrO {
  position: relative;
  color: #535353 /* plasmic-token: wYj_5gZwVsnxye */;
}
.root .link__y1ZrO:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__vIxBi {
  position: relative;
  color: #535353 /* plasmic-token: wYj_5gZwVsnxye */;
}
.root .link__vIxBi:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__uwrcQ {
  position: relative;
  color: #535353 /* plasmic-token: wYj_5gZwVsnxye */;
}
.root .link__uwrcQ:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__uDaB8 {
  position: relative;
  color: #535353 /* plasmic-token: wYj_5gZwVsnxye */;
}
.root .link__uDaB8:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__rUpE1 {
  display: flex;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.box__rUpE1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__rUpE1 > :global(.__wab_flex-container) > *,
.box__rUpE1 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box__hIhtq {
  position: relative;
  font-weight: 700;
}
.link__rZubg {
  position: relative;
  color: #535353 /* plasmic-token: wYj_5gZwVsnxye */;
}
.root .link__rZubg:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__ss1DH {
  position: relative;
  color: #535353 /* plasmic-token: wYj_5gZwVsnxye */;
}
.root .link__ss1DH:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__zSx8W {
  position: relative;
  color: #535353 /* plasmic-token: wYj_5gZwVsnxye */;
}
.root .link__zSx8W:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___91EPh {
  position: relative;
  color: #535353 /* plasmic-token: wYj_5gZwVsnxye */;
}
.root .link___91EPh:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__s4YNw {
  position: relative;
  color: #535353 /* plasmic-token: wYj_5gZwVsnxye */;
}
.root .link__s4YNw:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box___6MctH {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 200px;
  flex-shrink: 0;
}
.box___6MctH > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box___6MctH > :global(.__wab_flex-container) > *,
.box___6MctH > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box__pPFjM {
  position: relative;
  font-weight: 700;
}
.box__rgbY {
  position: relative;
}
.box__sJoPa {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 0;
  border-radius: 5px;
  border: 1px solid rgb(228, 230, 235) /* plasmic-token: 4QM1pZKqI */;
}
.textbox {
  position: relative;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  min-width: 0;
  border-width: 0px;
}
.button {
  position: relative;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 1px;
  border-left-style: solid;
}
.box__w4Mi5 {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: NoNYWV_AIJRBV8 */;
}
.box__dStJx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__dStJx {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__dStJx > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__dStJx > :global(.__wab_flex-container) > *,
  .box__dStJx > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.box__kJvYd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__tFaqg {
  position: relative;
  color: #535353 /* plasmic-token: wYj_5gZwVsnxye */;
  height: auto;
}
.root .link__tFaqg:hover {
  text-decoration-line: underline;
}
.link__cHQ {
  position: relative;
  color: #535353 /* plasmic-token: wYj_5gZwVsnxye */;
}
.root .link__cHQ:hover {
  text-decoration-line: underline;
}
.box___6DhKu {
  position: relative;
  height: auto;
  width: auto;
  display: inline-block;
}
.box___3Qy3X {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box___3Qy3X > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box___3Qy3X > :global(.__wab_flex-container) > *,
.box___3Qy3X > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.iconLink__wem1O:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__lvZ7T {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__lvZ7T:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink__njpiP:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__bWfng {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__bWfng:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink___4OkSs:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___1D9Si {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg___1D9Si:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
